<div>
    <h2 id="page-heading">
        <span>Signature Settings</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-signature-setting" [routerLink]="['/signature-setting/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Signature Setting
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="signatureSettings?.length === 0">
        <span>No signatureSettings found</span>
    </div>
    <div class="table-responsive" *ngIf="signatureSettings?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span>ID</span></th>
            <th scope="col" ><span>Name</span></th>
            <th scope="col" ><span>Sign As</span></th>
            <th scope="col" ><span>Designation</span></th>
            <th scope="col" ><span>Image</span></th>
            <th scope="col" ><span>Default Signature</span></th>
            <th scope="col" ><span>Address</span></th>
            <th scope="col" ><span>Created At</span></th>
            <th scope="col" ><span>Updated At</span></th>
            <th scope="col" ><span>Users</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let signatureSetting of signatureSettings ;trackBy: trackId">
                <td><a [routerLink]="['/signature-setting', signatureSetting.id, 'view' ]">{{signatureSetting.id}}</a></td>
                <td>{{signatureSetting.name}}</td>
                <td>{{signatureSetting.signAs}}</td>
                <td>{{signatureSetting.designation}}</td>
                <td>
                    <a *ngIf="signatureSetting.image" (click)="openFile(signatureSetting.imageContentType, signatureSetting.image)">open</a>
                    <span *ngIf="signatureSetting.image">{{signatureSetting.imageContentType}}, {{byteSize(signatureSetting.image)}}</span>
                </td>
                <td>{{signatureSetting.defaultSignature}}</td>
                <td>{{signatureSetting.address}}</td>
                <td>{{signatureSetting.createdAt | date:'mediumDate'}}</td>
                <td>{{signatureSetting.updatedAt | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="signatureSetting.users">
                        <a [routerLink]="['/users', signatureSetting.users?.id, 'view' ]" >{{signatureSetting.users?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/signature-setting', signatureSetting.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/signature-setting', signatureSetting.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(signatureSetting)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
