<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="userRoleMapping">
            <h2><span>User Role Mapping</span> {{userRoleMapping.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Users</span></dt>
                <dd>
                    <div *ngIf="userRoleMapping.users">
                        <a [routerLink]="['/users', userRoleMapping.users?.id, 'view']">{{userRoleMapping.users?.id}}</a>
                    </div>
                </dd>
                <dt><span>User Role</span></dt>
                <dd>
                    <div *ngIf="userRoleMapping.userRole">
                        <a [routerLink]="['/user-role', userRoleMapping.userRole?.id, 'view']">{{userRoleMapping.userRole?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/user-role-mapping', userRoleMapping.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
