<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-document-signature-heading">Create or edit a Document Signature</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_validFrom" ngbTooltip="Date from which the signature will be valid">Valid From</label>
                    <div class="input-group">
                        <input id="field_validFrom" type="text" class="form-control" name="validFrom" ngbDatepicker  #validFromDp="ngbDatepicker" formControlName="validFrom"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="validFromDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_validTo" ngbTooltip="Date till which the signature will be valid">Valid To</label>
                    <div class="input-group">
                        <input id="field_validTo" type="text" class="form-control" name="validTo" ngbDatepicker  #validToDp="ngbDatepicker" formControlName="validTo"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="validToDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_deviceId" ngbTooltip="id of the device that&#39;s been used to sign by the user">Device Id</label>
                    <input type="number" class="form-control" name="deviceId" id="field_deviceId"
                           formControlName="deviceId"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_signature" ngbTooltip="FIDO2 signature">Signature</label>
                    <input type="text" class="form-control" name="signature" id="field_signature"
                           formControlName="signature"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_createdAt" ngbTooltip="Date at which signature is created">Created At</label>
                    <div class="input-group">
                        <input id="field_createdAt" type="text" class="form-control" name="createdAt" ngbDatepicker  #createdAtDp="ngbDatepicker" formControlName="createdAt"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="createdAtDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_document">Document</label>
                    <select class="form-control" id="field_document" name="document" formControlName="document">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="documentOption.id === editForm.get('document')!.value?.id ? editForm.get('document')!.value : documentOption" *ngFor="let documentOption of documents; trackBy: trackById">{{documentOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_workFlowUser">Work Flow User</label>
                    <select class="form-control" id="field_workFlowUser" name="workFlowUser" formControlName="workFlowUser">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="workFlowUserOption.id === editForm.get('workFlowUser')!.value?.id ? editForm.get('workFlowUser')!.value : workFlowUserOption" *ngFor="let workFlowUserOption of workflowusers; trackBy: trackById">{{workFlowUserOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
